@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --p-color: #0e0e1c;
  --s-color: #1a1a2e;
  --border: #222232;

  --p-txt: #ffffff;
  --s-txt: #b0b0b0;
  --t-txt: #888888;
  --t-y: #ffa726;
  --p-btn: #ff3b3b;
  --s-btn: #e32a2a;

  --txt: 1rem;
  --txt-s: 0.8rem;
  --txt-m: 1.1rem;
  --txt-l: 1.2rem;
  --txt-xl: 2rem;
  --txt-2xl: 3rem;
  --font-fam: "Inter", sans-serif;

  --br-r: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fam);
  color: var(--p-txt);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  /* color: var(--p-txt); */
}
/* header */
header nav {
  display: flex;
  flex-direction: row;
  color: var(--p-txt);
  background-color: var(--s-color);
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
nav li a {
  color: inherit;
}

.container {
  padding: 2rem 4rem;
}
.nav {
  display: flex;
  align-items: center;
  gap: var(--txt-2xl);
}
header .container {
  padding: 1rem 4rem;
}
.mobile-nav {
  display: none;
  align-self: center;
}

nav .button {
  color: var(--p-txt);
  background-color: var(--p-btn);
  padding: var(--txt-s) var(--txt-l);
  border-radius: var(--br-r);
}
/* end header */

/* hero */
.hero {
  position: relative;
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../assets/hero-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    rgba(35, 35, 52, 0.7) 0%,
    rgba(27, 27, 39, 0.95) 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero .hero-details {
  position: relative;
  line-height: 1.6;
  z-index: 3;
  color: var(--p-txt);
  width: 50%;
  h1 {
    font-size: var(--txt-2xl);
    line-height: 1.6;
  }
  p {
    font-weight: 200;
  }
}
.hero-details .book {
  text-decoration: none;
  color: var(--p-txt);
  padding: var(--txt-s) var(--txt-l);
  background-color: var(--p-btn);
  border-radius: var(--br-r);
  margin-top: 1rem;
  display: inline-block;
}

/* end hero */

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--p-color);
  align-items: center;
  padding-top: var(--txt-xl);
  padding-bottom: var(--txt-xl);
}

.banner .welcome {
  text-align: center;
  h2 {
    color: var(--t-y);
  }
}
.banner p {
  font-weight: 200;
  color: var(--s-txt);
}
.banner .today {
  text-align: center;
}
.showing {
  text-align: center;
}
.showing-num {
  color: var(--s-btn);
}
/* end banner */
